body {
  margin:0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.design-list-none {
  list-style: none;

  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding:0 20px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;

  background-color: #eeeeee;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 440px;
      flex-basis: 440px;
      padding-right: 37px;
      margin-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu li {
  height: 34px;
}

.basket {
  position: relative;

  padding-left: 50px;
  margin-top: 8px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 10px;

  width: 16px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.main-menu-current {
  border-bottom: 2px solid #fb565a;
}
 /*стили для слайдера*/

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 4;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 68px 0 92px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 8px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 50px;
}
 /*конец*/

.btn {
  margin-top: 30px;
  padding: 15px 54px;
  box-sizing: border-box;

  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  text-align: center;

  background-color: #fb565a;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.services {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 5px;
}

.service-item {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 100px;
  min-height: 400px;
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 18px;
}

.service-item img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.service-item p {
  margin-bottom: 34px;
  width: 250px;
}

.service-item a {
  display: block;
  width: 160px;
  padding: 15px 20px;

}

.service-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.service-item:nth-child(2) .btn:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(2) .btn:active {
  color: #74c69c;

  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
          box-shadow: inset 0 3px 0 0 #009958;
}

.service-item:nth-child(3) .btn {
  background-color: #efc84a;
}

.service-item:nth-child(3) .btn:hover {
  background-color: #eab534;
}

.service-item:nth-child(3) .btn:active {
  color: #edc265;

  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;
          box-shadow: inset 0 3px 0 0 #ce961f;
}

.offer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.price {
  display: block;
  width: 200px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0;
  margin: 0 auto;

  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  text-align: center;

  background-color: #fb565a;
  border-radius: 3px;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  color: #e37376;
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.block-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
}

.btn-show {
  display: block;
  width: 260px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0px;

  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  text-align: center;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.btn-show:hover {
  background-color: #dfdfdf;
}

.btn-show:active {
  color: #a6a6a6;

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.content-item p {
  color: #666666;
}

/*стили для секции с сайтами*/
.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  min-height: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 75px auto 80px;


  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.bar {
  width: 2px;
  height: 60px;
  background-color: #eeeeee;
}

.list-item {
   opacity: 0.2;

   box-sizing: border-box;
   width: 250px;
   padding-top: 15px;
   padding-left:30px;
}

.list-item:hover {
   opacity: 1;
}

.list-item:active {
   opacity: 0.1;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  border-top: 2px solid #eeeeee;
  padding-top: 74px;
}

.features-description {
  max-width: 660px;
}
.features-description b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.features-description > p {
  margin: 36px 0 38px;
}

.features-description > span {
  text-transform: uppercase;
  font-weight: 700;
}

.task-list-item {
  position: relative;

  margin-top: 24px;
  padding-left: 38px;
}

.task-list-item::before {
  content: "";

  position: absolute;
  left: 2px;
  top: 50%;

  height: 2px;
  width: 26px;

  background-color: #fb565a;
}

.features-block {
  display: inline-block;
  margin-top: -34px;
  width: 360px;
}

.features-block b {
  margin-left: 16px;
  margin-top: 30px;
  display: block;
  text-transform: uppercase;
}

.features-block-item {
  display: inline-block;
  width: 100px;
  margin-right: 16px;
}

.features-block-item:last-child {
  margin-right: 0;
}
.features-block-item p:first-child{
  margin-bottom: 14px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.percent {
  font-size: 0.6em;
}

.features-block-item p:last-child{
  color: #283136;
  margin-bottom: 0;
  line-height: 18px;
}


/*стили для футера*/
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 220px;
  min-height: 220px;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 120px;
}

.social-button {
  position: relative;

  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 13px;

  background-color: #e1e1e1;
}

.social-button::before {
  content: "";

  position: absolute;
  top: 33px;
  left: 27px;

  display: block;
  width: 26px;
  height: 26px;

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social .facebook::before {
  top: 30px;
  left: 32px;

  background-image: url("../img/fb-icon.svg");
}

.social .instagram::before {
  top: 30px;
  left: 30px;

  background-image: url("../img/insta-icon.svg");
}

.social-button:hover {
  background-color:#e74246;
}

.social-button:active {
  background-color:#d7373b;
}

.social-button:active::before {
  opacity: 0.3;
}

.offer {
  margin-top: 14px;
  margin-right: auto;
}

.offer p {
  margin-top: 8px;
}

/*стили для каталога*/

.catalog {
  margin-bottom: 42px;
  margin-top:4px;
}
.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 48px 0 50px;
  padding: 0;

  list-style: none;
}

.sort-list li:first-child {
  width: 376px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sort-list li:nth-child(n+2) {
  text-transform: uppercase;

  opacity: 0.3;
}
.sort-list li:hover {
  opacity: 0.6;
}

.sort-list li:nth-child(n+2) {
  font-size: 15px;
}
.catalog .sort-list .active {
  opacity: 1;
}

.arrows {
  position: relative;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.arrows::before {
  content: '';

  position: absolute;
  left: 0;
  top: 7px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.arrows::after {
  content: ' ';

  position: absolute;
  right: 0;
  top: 7px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  padding-bottom: 116px;
  padding-top: 66px;
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}

.filters {
  width: 260px;
  margin-top: 4px;
}

.filter-block {
  border: none;
  margin-bottom: 32px;
  padding: 0;
}

.filter-block label {
  position: relative;

  display: block;
  margin-bottom: 16px;
  padding-left: 34px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-block:nth-child(2) label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 16px;
  height: 16px;

  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.6;
}

.filter-block:nth-child(2) label:hover::before {
  opacity: 1;
}

.filter-block:nth-child(2) label:hover::after {
  opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 8px;
  height: 8px;

  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.6;
}
.filter-input-radio:disabled + label {
  opacity: 0.1;
}

.filter-input-radio:disabled + label::after {
  opacity: 0.1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-block:nth-child(3) label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-block:nth-child(3) label:hover::before {
  opacity: 1;
}

.filter-block:nth-child(3) label:hover::after {
  opacity: 1;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-checkbox:disabled + label {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label::after {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;

  margin-bottom: 17px;
}


.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  width: 260px;
  margin: 50px auto 60px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.sort {
  display: none;
}

.content {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-item {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 360px;
  height: 615px;
  padding-top: 40px;
  margin-bottom: 34px;
  border-radius: 5px;
}

.content-item:hover {
  -webkit-box-shadow: 0px 5px 10px #cfcfcf;
          box-shadow: 0px 5px 10px #cfcfcf;
}

.content-item:hover .window-hidden {
  display: block;
}

.content-item:hover::before {
  opacity: 1;
}

.window-hidden {
  display: none;

  position: absolute;
  z-index: 1;
  bottom: 0;
  text-align: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 360px;
  padding-bottom: 40px;
  padding-top: 30px;

  background-color: #eeeeee;
}

.block-title {
  display: inline-block;
}

.block-title:hover {
  color: #fb565a;
}

.block-title:active {
  color: #b2b2b2;
}

.content-item p {
  width: 180px;
  margin: 16px auto 30px;

  line-height: 18px;
  text-align: center;
}

.content-item::before {
  content: "";
  position: absolute;
  top: 0;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 0.12;
}

.list-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 170px;
  margin-right: 15px;
  padding: 0;

  list-style: none;
}

.numbers-block {
  display: flex;
  align-items: center;

  margin-top: 13px;
}

.btn-number {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0px;

  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 3px;
}

.active-list {
  border: 2px solid #dbdbdb;
  background-color: #ffffff;
}

.btn-number:hover {
  background-color: #dfdfdf;
}

.btn-number:active {
  color: #a6a6a6;

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.next {
  display: block;
  width: 260px;
  border:none;
}
/*секция с контактами*/

.map {
  position: relative;

  height: 416px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.google-maps {
  width: 100%;
  height: 416px;
  border: none;
}
.contacts {
  position: absolute;
  left: 180px;
  top: 60px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  padding-top: 45px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 46px;

  background-color: #ffffff;
}

.contacts b {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}

.contacts p {
  color:#666666;
  margin-bottom: 18px;
  line-height: 20px;
}

.modal-link {
  display: block;
  margin-top: 36px;
  width: 220px;
  padding-right: 40px;
  padding-left:  40px;
}
/*окно обратной связи */

.write-us {
  display: none;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;

  left: 50%;
  bottom: 50%;

  width: 960px;
  height: 590px;
  padding: 78px 100px 86px;
  margin-left: -480px;
  margin-bottom: -295px;

  -webkit-box-shadow: 0 20px 20px 5px #5e5f5f;

          box-shadow: 0 20px 20px 5px #5e5f5f;
  background-color: #ffffff;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

.write-us label {
  font-weight: 700;
}

.write-us label:nth-child(3) {
  margin-top: 35px;
}
.write-us p {
  margin-bottom: 12px;
}

.write-us .btn {
  margin-top: 44px;

  width: 260px;

  border: none;
}

.write-us .field, .field-text {
  padding: 16px;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.write-us input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.write-us label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 360px;
}

.write-us label:nth-child(1) {
  margin-right: 36px;
}

.write-us label:nth-child(3) {
  width:100%;
}

.write-us textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  height: 120px;
  resize: none;
}

.btn-close {
  position: absolute;
  right: 88px;
  top: 92px;

  width: 24px;
  height: 24px;

  background-image: url("../img/close-cross.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 0.3;
  border: none;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active {
  opacity: 0.1;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.write-us input {
  border-color: #d7dcde;
}

.write-us input:hover {
  border-color: #b4b9bb;
  opacity: 0.6;
}

.write-us input:focus {
  border-color: #000000;
}

